<section class="about-us-section">
    <div class="container">
        <h3 class="text-center mb-40 text-uppercase font-weight-bold font-italic">What You <span
                class="text-orange">Will Learn</span> </h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/about-1.jpg" />
                    <p class="my-20"><strong>Dramatically improve</strong> your dog's obedience</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/about-2.jpg" />
                    <p class="my-20"><strong>Eliminate troublesome behavior</strong> like barking, chewing or aggression
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/about-3.jpg" />
                    <p class="my-20"><strong>Have your dog effortlessly</strong> sit, lie down, stay, heel, drop and
                        walk by your side
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>