@import "~src/styles/main.scss";

.about-us-section{
    .card{
        text-align: center;
        border:none;
        h4{
            font-weight:bold;
        }
        h4,p{
            font-size:16px;
        }
        img{
            height: 12.5rem;
            width: 12.5rem;
            margin:0 auto;
            margin-top:1.25rem;
        }
    }
}