<aside class="py-40 px-20">
    <div class="widget">
        <p class="font-weight-bold text-uppercase mb-20"><i class="fas fa-square mr-5"></i> Recent Posts</p>
        <div *ngFor="let blogItem of blogPosts">
            <p class="font-weight-bold">{{blogItem.title}}</p>
            <div class="blog-content">
                <p [innerHTML]="blogItem.blogContent"></p>
            </div>
        </div>
        <hr />
    </div>
    <div class="widget">
        <p class="font-weight-bold text-uppercase mb-20"><i class="fas fa-square mr-5"></i> Tag Cloud</p>
        <div class="tags">
            <a href="#" class="tag">Dog</a><a href="#" class="tag">Dog</a><a href="#" class="tag">Dog
                Training</a><a href="#" class="tag">Dog Toys</a>
            <a href="#" class="tag">Dog </a>
        </div>
        <hr />
    </div>
    <div class="widget text-center">
        <img src="assets/img/ad-sidebar.jpg"/>
    </div>
    <hr />
</aside>