@import "~src/styles/main.scss";

header {
    img.ad-image {
        height: 5.625rem;
    }
    img.logo-image {
        height: 50px;
    }
}

.nav-section {
    min-height: 45px;
    background: #298080;
    nav{
        background: #298080;
        .navbar-toggler{
            line-height: 45px;
            i{
                color: white;
                font-size: 20px;
                line-height: 35px;
            }
        }
    ul.navbar-nav li {
        height: 45px;
        a {
            text-transform: uppercase;
            font-weight: 500;
            color: white;
            line-height:45px;
            padding-top:0;
            padding-bottom:0;
            cursor: pointer;
            @media (max-width:992px){
                padding-left:1.25rem;
            }
        }
    }
}
}

.active-link {
    background: $orange1;
    color: white;
}
