@import "main.scss";

header {
    img.ad-image {
        height: 5.625rem;
    }
}

.nav-section {
    ul.navbar-nav li a {
        text-transform: uppercase;
        font-weight: 500;
        color:white;
    }
}

.active-link {
    background: $orange1;
    color:white;
}
