@import "main.scss";

.blog-card {
    a {
        cursor: pointer;
    }
    .blog-content {
        p {
            word-wrap: break-word;
            p {
                word-wrap: break-word;
            }
        }
    }
}
