@import "main.scss";

.blog-card {
    a {
        cursor: pointer;
        &:hover {
            color: $orange1;
        }
    }
    .blog-content {
        p {
            word-wrap: break-word;
            p {
                word-wrap: break-word;
            }
        }
    }
    img {
        height: 13.75rem;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}
