<div class="blog-card mb-40 col-md-6" *ngFor="let blogItem of blogPosts">
    <img [src]="blogItem.fileUploaded" [alt]="blogItem.title"/>
    <a (click)=" goToSinglePost(blogItem)" target="_blank">
    <h4 class="font-weight-bold py-5">{{blogItem.title}}</h4></a>
    <span class="text-lightgray"><i class="fas fa-clock"></i> {{blogItem.uploadedDate | date:'MMMM d, y'}}</span>
    <div class="blog-content mt-5">
        <p [innerHTML]="blogItem.shortDescription"></p>
    </div>
    <button type="button" class="btn btn-success mr-10" *ngIf="editorRole" (click)="editPost(blogItem)">EDIT POST</button>
    <button type="button" class="btn btn-danger" *ngIf="editorRole" (click)="deletePost(blogItem)">DELETE POST</button>
</div>