<div class="blog-card mb-40 col-md-6" *ngFor="let blogItem of blogPosts">
    <img [src]="blogItem.fileUploaded" [alt]="blogItem.title" class="img-fluid"/>
    <a (click)=" goToSinglePost(blogItem)" target="_blank">
    <h4 class="font-weight-bold">{{blogItem.title}}</h4></a>
    <div class="blog-content">
        <p [innerHTML]="blogItem.blogContent"></p>
    </div>
    <button type="button" class="btn btn-success mr-10" (click)="editPost(blogItem)">EDIT POST</button>
    <button type="button" class="btn btn-danger" (click)="deletePost(blogItem)">DELETE POST</button>
</div>