<form [formGroup]="newsletterForm" (submit)="submit()" class="newsletter-form" [class.theme-white]="color==='white'"
    [class.theme-blue]="color==='blue'">
    <mat-form-field class="form-field" appearance="standard">
        <mat-label> Your Name*</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="newsletterForm.controls.name.touched && newsletterForm.controls.name.invalid">
            <span *ngIf="newsletterForm.controls.name.errors.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="standard">
        <mat-label> Your Email*
        </mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="newsletterForm.controls.email.touched && newsletterForm.controls.email.invalid">
            <span *ngIf="newsletterForm.controls.email.errors.required">This field is mandatory.</span>
            <span *ngIf="newsletterForm.controls.email.errors.pattern">This field is invalid.</span>
        </mat-error>
    </mat-form-field>
    <button class="btn btn-primary text-uppercase mt-10" type="submit">Contact Us</button>
</form>