@import "~src/styles/main.scss";

.newsletter-form.theme-white{
    mat-form-field{
        width:100%;
        mat-label{
            color:white;
        }
        .mat-form-field-underline{
            background: white;
        }
    }
    button{
        background: white;
        color:black;
        border:1px solid white;
        height:2.5rem;
        line-height:2.5rem;
        font-size:0.875rem;
        padding:0 1.25rem;
    }
}

.newsletter-form.theme-blue{
    display:flex;
    align-items:bottom;
    justify-content:center;
        mat-form-field.mat-form-field{
            display:inline-block;
            margin-right:1rem;
            height:60px;
            width:20rem;
        }
        button{
            font-size:14px;
            width:13.125rem;
        }
        @media (max-width:992px){
            display: block;
            mat-form-field.mat-form-field{
                display:block;
                width:100%;
            }
        }
}

.newsletter-form.theme-blue-2{
    display:flex;
    align-items:bottom;
    justify-content:center;
        mat-form-field.mat-form-field{
            display:inline-block;
            margin-right:1rem;
            height:60px;
            width:20rem;
        }
        button{
            font-size:14px;
            width:15rem;
        }
        @media (max-width:992px){
            display: block;
            mat-form-field.mat-form-field{
                display:block;
                width:100%;
            }
        }
}