<section class="add-post-wrapper py-40">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img [src]="blog.fileUploaded" [alt]="blog.title" class="img-fluid" />
                <h3 class="py-10">{{blog.title}}</h3>
                <p class="blog-content" [innerHTML]="blog.blogContent"></p>
            </div>
            <div class="col-md-4">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <app-newsletter-widget></app-newsletter-widget>
    </div>
</section>