@import "~src/styles/main.scss";

.carousel-home{
    .carousel-item{
        height:31.25rem;
        img{
            height: 500px;
        }
        .get-help{
            position:absolute;
            top:0;
            right:11%;
            img{
                height:3.75rem;
            }
        }
        .carousel-caption{
           transform:translateY(-50%);
           top:50%;
           left:11%;
           h3{
               font-weight:bold;
               width:30rem;
               background: white;
               color:black;
               opacity:.7;
           }
           h2{
               background: #298080;
               width:25rem;
           }
        }
    }
}