<footer>
    <div class="bg-dark4 py-40">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="font-weight-bold mb-30"><i class="fas fa-square mr-5"></i> Newsletter</p>
                    <h6>For our news update subscribe to our newsletter. You can unsubscribe anytime.</h6>
                    <app-newsletter-widget [color]="colorForm"></app-newsletter-widget>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bold mb-30"><i class="fas fa-square mr-5"></i> Tag Cloud</p>
                    <div class="tags">
                        <a href="https://www.doggesik.com/blog/Brain%20training%20for%20dogs%20%20-%20Develops%20your%20dog's%20natural%20intelligence"
                            class="tag">house training a dog</a><a
                            href="https://www.doggesik.com/blog/Brain%20training%20for%20dogs%20%20-%20Develops%20your%20dog's%20natural%20intelligence"
                            class="tag">dog training</a>
                        <a href="https://www.doggesik.com/blog/Brain%20training%20for%20dogs%20%20-%20Develops%20your%20dog's%20natural%20intelligence"
                            class="tag">brain training for dogs</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bold mb-30"><i class="fas fa-square mr-5"></i> Follow Us</p>
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/Doggesik-101541245054510" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/doggesik/" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                        <li><a href="https://ro.pinterest.com/doggesik/_saved/" target="_blank"><i
                                    class="fab fa-pinterest"></i></a></li>
                        <li><a href="https://twitter.com/CandyNice15" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright pb-10 bg-dark4">
        <h6>© 2021 Doggesik. All right Reserved</h6>
    </div>
</footer>