<section class="cookies">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Cookies</h1>
                <h3>What are cookies?</h3>
                <p>Cookies are small text files placed either temporarily or permanently on your computer by websites
                    that
                    you visit which collect and record information, including your IP address. Each time you visit one
                    of
                    our websites, your browser will send the cookie file back to the website's server on each subsequent
                    visit unless your alter your browser settings. </p>
                <p>We do not use cookies to store financial information.</p>
                <h3>Why do we use cookies?</h3>
                <p>Cookies help us to:-</p>
                <ol>
                    <li>understand how visitors use our websites and collect anonymised statistics (e.g. the number of
                        visitors to our websites) in order to improve performance</li>
                    <li>provide a more personalised online experience by displaying content that would be of interest to
                        you
                    </li>
                    <li>display relevant advertising to you when you visit websites other than ours</li>
                    <li>remember your details and preferences to avoid asking you for that information again</li>
                    <li>measure how cost-effective our advertising is.</li>
                </ol>
                <h3>What information do we collect using cookies?</h3>
                <p>Examples of ways we may use cookies to record information include:-</p>
                <ul>
                    <li>areas of the website you visit and engage with, and the amount of time you spend on the website
                    </li>
                    <li>whether you have visited our website before or whether you are a new visitor</li>
                    <li>the country, region, city and/or borough associated with your IP address or device</li>
                    <li>how you came to our website</li>
                    <li>the type of device and browser you use</li>
                    <li>any error messages that you receive on the site.</li>
                </ul>
                <p>We may also measure the success of the emails we send so that we can understand what subject lines
                    and
                    stories people like the most.</p>
            </div>
        </div>
    </div>
</section>