<section class="add-post-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 py-40">
                <h3>Add New Post</h3>
                <form [formGroup]="blogForm" (ngSubmit)="onSubmit(blogForm.value)">
                    <mat-form-field class="form-field w-100" appearance="standard">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title" required>
                        <mat-error *ngIf="blogForm.controls.title.touched && blogForm.controls.title.invalid">
                            <span *ngIf="blogForm.controls.title.errors.required">This field is mandatory.</span>
                        </mat-error>
                    </mat-form-field>
                    <div [froalaEditor] class="editor py-10" formControlName="blogContent"></div>
                    <button type="submit" class="btn btn-primary my-20">Add New Post</button>
                </form>
            </div>
            <div class="col-md-4">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>