<main>
    <div class="row">
        <div class="col-8">
            <p><strong>Welcome to Doggesik!</strong> We really appreciate it when people spend time on our site and the fact that you’re
                reading
                this
                section means you like what you’ve found so far.</p>
            <p>Our love of dogs motivated us to create Doggesik. We turn our love and passion for dogs into highly
                rewarding,
                loving
                and fun experiences for you and your friend. We believe your dog is more than just a pet. She is your
                best
                friend,
                family member or hiking partner. You go everywhere together, maybe it’s to the ends of the earth, maybe
                it’s to
                the end
                of your street.</p>
            <p>Dogs have always been central to our lives, and we know how important they are to you. We hope you’ll let
                us
                help you go
                even further together.</p>
            <p>The products we sell, the causes and ideas we are passionate about, and the impact we hope to have in our
                customers’
                lives help you go safely, comfortably, and happily together.</p>
            <p>All pets deserve the best so we’ve found all the finest pet products out there and created a place where
                we can
                share
                them with you.</p>
            <p>We want our products to enhance your journeys with your pup. We believe it’s the greatest honor when
                someone
                invests
                their money in something we sell, so we strive to honor our customers by selling high-quality products.
            </p>
            <p>We also want the site to be a place for sharing information on how to provide the best care for your pet.
                You’ll
                find
                these resources in the blog section.</p>
            <p>At Doggesik, we care about our customers and hope to, not only make your dog happy, but you too. We want
                your
                experience
                with us to be a fantastic one.</p>
            <p>Join our interactive community online by following our blog or connect with us on social media.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/about-us.jpg" alt="about us" class="img-fluid" />
        </div>
    </div>
</main>